<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    	<meta name="renderer" content="webkit" />
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="format-detection" content="telephone=no">
		<title>{{title}}</title>
		<meta name="keywords" content="{{keywords}}">
		<meta name="description" content="{{description}}"></meta>
		<link href="/styles/site.min.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
    	<div class="container header">
    		<div class="inner">
    			<a class="logo" href="/"><img src="images/logo.png"></a>
    			<div class="menubutton">
	    			<img src="images/menu-btn.png" alt="">
	    		</div>
	            <ul class="navlinks clearfix">
	                {{# each navLinks}}
	                <li class="menuitem pcmenuitem {{#ifeq ../section key}}active{{else}}{{/ifeq}}">
						<a href="{{href}}">{{label}}</a>
						{{#if submenu}}
						<ul class="submenu">
							{{#each submenu}}
							<li><a href="{{href}}">{{label}}</a></li>
							{{/each}}
						</ul>
						{{/if}}
					</li>
					{{/each}}
					<!-- <li class="menuitem"><a href="#">EN</a></li> -->
	            </ul>
    		</div>
    		<ul class="navlinks-mob">
                <li class="bottomline">
                    <a class="logo" href="/"><img src="images/logo.png"></a>
                </li>
                <div class="close-btn">
                	<img src="/images/close-btn.png" alt="">
                </div>
                {{# each navLinks}}
                <li>
					<a href="{{href}}">{{label}}</a>
					{{#if submenu}}
					<ul class="submenu-mob">
						{{#each submenu}}
						<li><a href="{{href}}">{{label}}</a></li>
						{{/each}}
					</ul>
					{{/if}}
				</li>
				{{/each}}
            </ul>
        </div>
        {{{body}}}
		<div class="footer">
            <div class="footer-main clearfix">
                <div class="btminfo">
                	<a class="logo mnone" href="/"><img src="images/logo-footer.png"></a>
                	<ul class="contactinfo">
                		<li><img src="images/phone_icon.png" alt=""><a href="tel:010-62416380"><p>010-62416380</p></a></li>
                		<li><img src="images/email_icon.png" alt=""><a href="mailto:contact@logosdata.com"><p>contact@logosdata.com</p></a></li>
                		<li><img src="images/address_icon.png" alt=""><p class="paddress">北京市海淀区北四环西路67号中关村国际创新大厦301室</p></li>
                	</ul>
                	<div class="wechatinfo clearfix mnone">
                		<div class="wechaticon">
                			<img src="images/wechat-icon.png" alt="">
                			<img class="qrcodeimg" src="images/public-img.png" alt="">
                		</div>
                		<div class="wechaticon">
                			<img src="images/public-icon.png" alt="">
                			<img class="qrcodeimg" src="images/qrcode-img.png" alt="">
                		</div>
                	</div>
                </div>
                <div class="btminfo clearfix mnone">
                	<dl class="btmpro">
	                    <dt>产品服务</dt>
	                    <dd><a href="product#productsys">产品体系</a></dd>
	                    <dd><a href="product#platform">平台端</a></dd>
	                    <dd><a href="product#tax">税务端</a></dd>
	                    <dd><a href="product#enterprise">企业端</a></dd>
	                    <dd><a href="product#finance">金融端</a></dd>
	                    <dd><a href="product#consult">咨询端</a></dd>
	                </dl>
	                <dl class="btmpro">
	                    <dt>罗格宏观观察</dt>
	                    <dd><a href="observations">罗格宏观观察</a></dd>
	                </dl>
	                <dl class="btmpro">
	                    <dt>媒体报道</dt>
	                    <dd><a href="news">媒体报道</a></dd>
	                </dl>
	                <dl class="btmpro">
	                    <dt>招贤纳士</dt>
	                    <dd><a href="recruitments#teamintro">团队介绍</a></dd>
	                    <dd><a href="recruitments#positions">招聘岗位</a></dd>
	                </dl>
	                <dl class="btmpro">
	                    <dt>关于我们</dt>
	                    <dd><a href="about">罗格简介</a></dd>
	                    <dd><a href="about#history">发展历程</a></dd>
	                </dl>
                </div>
            </div>
            <div class="copyright">
                <p>京ICP备16044865号-1 | ©2017 北京罗格数据科技有限公司</p>
                <div style="width:300px;margin:0 auto; padding:5px 0 0 0;">
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802023830" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/record_icon.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#666;">京公网安备 11010802023830号</p></a>
                </div>
            </div>
        </div>
        <div class="returntop"></div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script type="text/javascript" src="/js/jquery/jquery.waypoints.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
