<div class="mainpage">
    <div class="pagewrap recruitmentsbg">
    	<h1>招贤纳士</h1>
    </div>
    <div id="teamintro" class="aboutpart">
		<h2 class="teaminfo-txt">团队介绍</h2>
		<div class="memberlist">
			<div class="member clearfix">
				<div class="fl mobileavator"><img src="/images/luyufeng.png" alt=""></div>
				<div class="fl detailpanel">
					<p class="mem-name mobilecenter">鲁钰锋</p>
					<p class="mem-job mobilecenter">创始人&amp;CEO</p>
					<p class="mem-introduce">毕业于浙江大学信息与电子工程学系，获得学士学位；2003年清华大学经济管理学院，获得MBA学位；2009年中国人民大学财政金融学院，获得经济学博士学位；2015年清华大学国情研究院和公共管理学院，博士后研究员。<br />历任国家税务总局信息中心税务信息化规划负责人；国家税务总局信息与网络安全领导小组办公室架构管控组组长；金税三期工程总体规划设计和架构管控、决策支持系统的主要负责人。多年从事电子政务信息系统规划、数据仓库和大数据挖掘、区域经济分析和税收经济分析等工作，对政府管理、税收政策、税务业务、IT运营和互联网产品规划有比较深入的专业理解和实战经验。</p>
				</div>
			</div>
			<!-- <div class="member clearfix">
				<div class="fl mobileavator"><img src="/images/liuyaqing.png" alt=""></div>
				<div class="fl detailpanel">
					<p class="mem-name mobilecenter">刘亚青</p>
					<p class="mem-job mobilecenter">销售总监</p>
					<p class="mem-introduce">毕业于云南大学，获得工商管理硕士学位。一直致力于金融行业进行信息技术产品的推广，参加工作在北京赞同科技，从销售做起，历任大区经理，分公司经理，销售总监等职务。2009年进入神州数码信息系统有限公司，对中小型商业银行推广神码SaaS云服务，从而在金融行业掀起了一个新的信息服务改革。对于金融行业，尤其是各个商业银行有深入了解和丰富的经验。</p>
				</div>
			</div>
			<div class="member clearfix">
				<div class="fl mobileavator"><img src="/images/luyang.png" alt=""></div>
				<div class="fl detailpanel">
					<p class="mem-name mobilecenter">鲁洋</p>
					<p class="mem-job mobilecenter">市场总监</p>
					<p class="mem-introduce">毕业于吉林财经大学信息管理与信息系统专业，获管理学学士学位；2007年毕业于北京邮电大学经管学院，获工程硕士学位。历任金税三期工程监理项目、外部信息交换项目主要负责人；神州数码信息系统有限公司市场总监、销售总监；甲骨文（中国）软件系统有限公司中国北区税务、财政、邮政行业销售总监。多年从事税收业务类应用系统建设监管工作，熟悉税收政策、税收业务，对税务IT系统建设等工作具有丰富的经验。对税务IT市场环境有深入的了解，具有非常丰富的市场规划、咨询与销售经验。</p>
				</div>
			</div> -->
		</div>
	</div>
	<div id="positions" class="aboutpart">
		<h2 class="recruit-txt">招聘岗位</h2>
		<ul id="job" class="classify moblipadding clearfix">
			<li data-type="all" class="active"><span>全部</span></li>
			<li data-type="pro"><span>产品类</span></li>
			<li data-type="tec"><span>技术类</span></li>
			<li data-type="mak"><span>市场类</span></li>
			<li data-type="oth"><span>其他</span></li>
		</ul>
		<div class="recruitlist moblipadding">
			{{# each data.recruitments}}
			<div class="recruititem">
				<p class="job-title">{{title}}</p>
				<label class="job-sub">工作地点：</label><span>{{workplace}}</span>
				<label class="job-sub">隶属部门：</label><span>{{department}}</span>
				<br />
				<label class="job-main">岗位职责：</label>
				<p>{{positionDes}}</p>
				<label class="job-main">任职资格：</label>
				<p>{{qualifications}}</p>
				<a class="apply-btn" href="mailto:contact@logosdata.com">申请职位</a>
			</div>
			{{/each}}
		</div>
	</div>
</div>